.mainWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px 15px;
}

.scoreWrapper {
    display: flex;
    gap: 15px 15px;
}

.picksWrapper {
    display: flex;
    gap: 25px 25px;
}

#resultDisplay {
    margin: 15px;
}

.buttons {
    font-size: 35px;
}

ul {
    list-style-type: none;
}